In [1]:
import requests
import pandas as pd

In [7]:
api_key = 'api_key'
endpoint = 'http://api.aviationstack.com/v1/flights'

params = {
    'access_key': api_key,
    'limit': 100,  # Limit the result to 100 flights per request
}

all_flights = []
page = 1

while True:
    # Update the page number in params
    params['offset'] = (page - 1) * params['limit']
    
    # Making the API request
    response = requests.get(endpoint, params=params)
    
    # Checking if the request was successful
    if response.status_code == 200:
        # Parsing the JSON response
        data = response.json()

        # Extracting flight data
        flights = data.get('data', [])
        
        if flights:
            # Add the current page of flights to the list
            all_flights.extend(flights)
            
            # If fewer flights were returned than the limit, stop paging
            if len(flights) < params['limit']:
                break
        else:
            break  # No more flight data available, exit the loop
    else:
        print(f"Error: {response.status_code}, {response.text}")
        break
    
    # Move to the next page
    page += 1

# Converting the list of all flights to a DataFrame
df = pd.DataFrame(all_flights)

# Saving the DataFrame to a CSV file
df.to_csv('C:\\Users\\cihat\\Downloads\\flights_data.csv', index=False)
print("Data saved to 'flights_data.csv'")

Error: 429, {"error":{"code":"usage_limit_reached","message":"Your monthly usage limit has been reached. Please upgrade your Subscription Plan."}}
Data saved to 'flights_data.csv'

In [2]:
flight_data = pd.read_csv('C:\\Users\\cihat\\Downloads\\flights_data.csv')

flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   flight_date    9200 non-null   object
 1   flight_status  9200 non-null   object
 2   departure      9200 non-null   object
 3   arrival        9200 non-null   object
 4   airline        9200 non-null   object
 5   flight         9200 non-null   object
 6   aircraft       38 non-null     object
 7   live           31 non-null     object
dtypes: object(8)
memory usage: 575.1+ KB

In [3]:
import ast

# Extracting the departure airport and assigning it to a new column
flight_data['departure_airport'] = flight_data['departure'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('airport', 'Unknown')
)

# Extracting the arrival airport and assigning it to a new column
flight_data['arrival_airport'] = flight_data['arrival'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('airport', 'Unknown')
)

In [4]:
flight_data['departure_airport'][2] = flight_data['departure_airport'][2].replace('\r\n', '')

#stahp

C:\Users\cihat\AppData\Local\Temp\ipykernel_16952\2947970761.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  flight_data['departure_airport'][2] = flight_data['departure_airport'][2].replace('\r\n', '')

In [5]:
flight_data['departure_timezone'] = flight_data['departure'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('timezone', 'Unknown')
)

flight_data['arrival_timezone'] = flight_data['arrival'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('timezone', 'Unknown')
)

In [6]:
flight_data['airline_name'] = flight_data['airline'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('name', 'Unknown')
)

flight_data['flight_number'] = flight_data['flight'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('number', 'Unknown')
)

In [7]:
flight_data['departure_timezone'] = flight_data['departure_timezone'].fillna('Unknown/Unknown')
flight_data['arrival_timezone'] = flight_data['arrival_timezone'].fillna('Unknown/Unknown')

In [8]:
flight_data

,flight_date,flight_status,departure,arrival,airline,flight,aircraft,live,departure_airport,arrival_airport,departure_timezone,arrival_timezone,airline_name,flight_number
0,14/08/2024,scheduled,"{'airport': None, 'timezone': None, 'iata': 'Y...","{'airport': 'Shanghai', 'timezone': 'Asia/Shan...","{'name': '9 Air Co', 'iata': 'AQ', 'icao': 'JYH'}","{'number': '1560', 'iata': 'AQ1560', 'icao': '...",NaN,NaN,None,Shanghai,Unknown/Unknown,Asia/Shanghai,9 Air Co,1560
1,14/08/2024,scheduled,"{'airport': 'Roschino', 'timezone': 'Asia/Yeka...","{'airport': 'Krasnojarsk', 'timezone': 'Asia/K...","{'name': 'Aeroflot', 'iata': 'SU', 'icao': 'AFL'}","{'number': '6906', 'iata': 'SU6906', 'icao': '...",NaN,NaN,Roschino,Krasnojarsk,Asia/Yekaterinburg,Asia/Krasnoyarsk,Aeroflot,6906
2,14/08/2024,scheduled,{'airport': 'Sultan Aji Muhamad Sulaiman Airpo...,"{'airport': 'Sjamsudin Noor', 'timezone': 'Asi...","{'name': 'Rimbun Air', 'iata': 'RI', 'icao': '...","{'number': '360', 'iata': 'RI360', 'icao': 'OE...",NaN,NaN,Sultan Aji Muhamad Sulaiman Airport,Sjamsudin Noor,Unknown/Unknown,Asia/Makassar,Rimbun Air,360
3,14/08/2024,scheduled,"{'airport': 'Quaid-e-azam International', 'tim...","{'airport': 'King Abdulaziz International', 't...","{'name': 'Airblue', 'iata': 'PA', 'icao': 'ABQ'}","{'number': '170', 'iata': 'PA170', 'icao': 'AB...",NaN,NaN,Quaid-e-azam International,King Abdulaziz International,Asia/Karachi,Asia/Riyadh,Airblue,170
4,14/08/2024,scheduled,{'airport': 'Chhatrapati Shivaji International...,"{'airport': 'Bole International', 'timezone': ...","{'name': 'Ethiopian Airlines', 'iata': 'ET', '...","{'number': '3611', 'iata': 'ET3611', 'icao': '...",NaN,NaN,Chhatrapati Shivaji International (Sahar Inter...,Bole International,Asia/Kolkata,Africa/Addis_Ababa,Ethiopian Airlines,3611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9195,13/08/2024,scheduled,"{'airport': 'Reina Beatrix', 'timezone': 'Amer...","{'airport': 'Philadelphia International', 'tim...","{'name': 'American Airlines', 'iata': 'AA', 'i...","{'number': '870', 'iata': 'AA870', 'icao': 'AA...",NaN,NaN,Reina Beatrix,Philadelphia International,America/Aruba,America/New_York,American Airlines,870
9196,13/08/2024,scheduled,"{'airport': 'Reina Beatrix', 'timezone': 'Amer...","{'airport': 'Philadelphia International', 'tim...","{'name': 'Qatar Airways', 'iata': 'QR', 'icao'...","{'number': '9478', 'iata': 'QR9478', 'icao': '...",NaN,NaN,Reina Beatrix,Philadelphia International,America/Aruba,America/New_York,Qatar Airways,9478
9197,13/08/2024,scheduled,"{'airport': 'Reina Beatrix', 'timezone': 'Amer...","{'airport': 'Logan International', 'timezone':...","{'name': 'JetBlue Airways', 'iata': 'B6', 'ica...","{'number': '474', 'iata': 'B6474', 'icao': 'JB...",NaN,NaN,Reina Beatrix,Logan International,America/Aruba,America/New_York,JetBlue Airways,474
9198,13/08/2024,scheduled,"{'airport': 'Reina Beatrix', 'timezone': 'Amer...","{'airport': 'Logan International', 'timezone':...","{'name': 'Qatar Airways', 'iata': 'QR', 'icao'...","{'number': '3817', 'iata': 'QR3817', 'icao': '...",NaN,NaN,Reina Beatrix,Logan International,America/Aruba,America/New_York,Qatar Airways,3817
9199,13/08/2024,scheduled,"{'airport': 'Reina Beatrix', 'timezone': 'Amer...","{'airport': 'John F Kennedy International', 't...","{'name': 'Delta Air Lines', 'iata': 'DL', 'ica...","{'number': '612', 'iata': 'DL612', 'icao': 'DA...",NaN,NaN,Reina Beatrix,John F Kennedy International,America/Aruba,America/New_York,Delta Air Lines,612

In [9]:
flight_data[['departure_continent', 'departure_city']] = flight_data['departure_timezone'].str.split('/', expand=True, n=1)

flight_data[['arrival_continent', 'arrival_city']] = flight_data['arrival_timezone'].str.split('/', expand=True, n=1)

In [10]:
flight_data['departure_continent'].unique()
flight_data['departure_city'].unique()

array(['Unknown', 'Yekaterinburg', 'Karachi', 'Kolkata', 'Brisbane',
       'Guadalcanal', 'Novosibirsk', 'Dushanbe', 'Dubai', 'Manila',
       'Auckland', 'Taipei', 'Shanghai', 'Aqtau', 'Almaty', 'Sydney',
       'Kuala_Lumpur', 'Yakutsk', 'Perth', 'Kathmandu', 'Port_Moresby',
       'Ho_Chi_Minh', 'Singapore', 'Oral', 'Makassar', 'Irkutsk',
       'Hobart', 'Adelaide', 'Fiji', 'Apia', 'Tashkent', 'Hong_Kong',
       None, 'Jakarta', 'Colombo', 'Bishkek', 'Dhaka', 'Bangkok',
       'Melbourne', 'Omsk', 'Novokuznetsk', 'Tokyo', 'Palau', 'Chongqing',
       'Seoul', 'Vientiane', 'Vladivostok', 'Chuuk', 'Darwin', 'Saipan',
       'Phnom_Penh', 'Kuching', 'Tongatapu', 'Macau', 'Krasnoyarsk',
       'Brunei', 'Jayapura', 'Guam', 'Majuro', 'Oslo', 'Amsterdam',
       'Berlin', 'Chicago', 'Canary', 'Reykjavik', 'Riyadh', 'Copenhagen',
       'Stockholm', 'Helsinki', 'Riga', 'Istanbul', 'Sao_Paulo',
       'Argentina/Mendoza', 'Tunis', 'New_York', 'Azores', 'Guayaquil',
       'Baku', 'Nome', 'Athens', 'Bogota', 'Maceio', 'Rome', 'Moscow',
       'La_Paz', 'Paris', 'Muscat', 'Bahia', 'Bucharest', 'Toronto',
       'Jamaica', 'Nassau', 'Tehran', 'Prague', 'Qatar', 'Zagreb',
       'Los_Angeles', 'Denver', 'Tijuana', 'Detroit', 'Managua',
       'Curacao', 'Kralendijk', 'Tirane', 'Dublin', 'Warsaw', 'Sofia',
       'Boise', 'London', 'Cairo', 'Madrid', 'Honolulu', 'Budapest',
       'Casablanca', 'Vienna', 'Brussels', 'Zurich', 'Santiago',
       'Dar_es_Salaam', 'Belgrade', 'Beirut', 'Jerusalem', 'Tripoli',
       'Algiers', 'Tallinn', 'Anchorage', 'Lisbon', 'Tegucigalpa',
       'Tortola', 'Vancouver', 'Guatemala', 'El_Salvador',
       'Lower_Princes', 'Addis_Ababa', 'Lima', 'Mexico_City',
       'Port-au-Prince', 'Accra', 'Lagos', 'Ceuta', 'Abidjan',
       'Santo_Domingo', 'Rarotonga', 'Phoenix', 'Grand_Turk',
       'Kentucky/Louisville', 'Argentina/Tucuman', 'Luanda',
       'Brazzaville', 'Belize', 'Yerevan', 'Caracas', 'Montreal',
       'Tbilisi', 'Winnipeg', 'Hermosillo', 'Nicosia', 'Samara', 'Sitka',
       'Kuwait', 'Minsk', 'Volgograd', 'Godthab', 'Mahe', 'Monterrey',
       'Montevideo', 'Cape_Verde', 'Costa_Rica', 'Moncton', 'Iqaluit',
       'Skopje', 'Edmonton', 'St_Kitts', 'St_Thomas', 'Puerto_Rico',
       'Sarajevo', 'Mazatlan', 'St_Vincent', 'St_Lucia', 'Fortaleza',
       'Halifax', 'Barbados', 'Indiana/Indianapolis', 'Blanc-Sablon',
       'Port_of_Spain', 'St_Johns', 'Regina', 'Yakutat', 'Yellowknife',
       'Malta', 'Argentina/Salta', 'Martinique', 'Cambridge_Bay',
       'Noronha', 'Asuncion', 'Isle_of_Man', 'Conakry', 'Madeira',
       'Freetown', 'Bratislava', 'Johannesburg', 'Juneau', 'Amman',
       'Lome', 'Baghdad', 'Maldives', 'Kampala', 'St_Barthelemy',
       'Argentina/Cordoba', 'Argentina/Rio_Gallegos',
       'Argentina/Buenos_Aires', 'Harare', 'Antigua', 'Kaliningrad',
       'Ojinaga', 'Kinshasa', 'Maputo', 'Aruba'], dtype=object)

In [11]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_date          9200 non-null   object
 1   flight_status        9200 non-null   object
 2   departure            9200 non-null   object
 3   arrival              9200 non-null   object
 4   airline              9200 non-null   object
 5   flight               9200 non-null   object
 6   aircraft             38 non-null     object
 7   live                 31 non-null     object
 8   departure_airport    9144 non-null   object
 9   arrival_airport      9129 non-null   object
 10  departure_timezone   9200 non-null   object
 11  arrival_timezone     9200 non-null   object
 12  airline_name         9104 non-null   object
 13  flight_number        8973 non-null   object
 14  departure_continent  9200 non-null   object
 15  departure_city       9184 non-null   object
 16  arrival_continent    9200 non-null   object
 17  arrival_city         9182 non-null   object
dtypes: object(18)
memory usage: 1.3+ MB

In [12]:
flight_data.loc[flight_data['departure_continent'] == '+8', 'departure_continent'] = 'Asia'
flight_data.loc[flight_data['arrival_continent'] == '+8', 'departure_continent'] = 'Asia'

In [13]:
flight_data['departure_delay'] = flight_data['departure'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('delay', 'Unknown')
)

flight_data['arrival_delay'] = flight_data['arrival'].apply(
    lambda i: 'Unknown' if i is None else ast.literal_eval(i).get('delay', 'Unknown')
)

In [15]:
flight_data.keys()

Index(['flight_date', 'flight_status', 'departure', 'arrival', 'airline',
       'flight', 'aircraft', 'live', 'departure_airport', 'arrival_airport',
       'departure_timezone', 'arrival_timezone', 'airline_name',
       'flight_number', 'departure_continent', 'departure_city',
       'arrival_continent', 'arrival_city', 'departure_delay',
       'arrival_delay'],
      dtype='object')

In [15]:
from pandas_gbq import to_gbq
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:\\Users\\cihat\\Downloads\\new-one-420600-8e7e0e7eead4.json"


project_id = 'new-one-420600'
dataset_id = 'trying_gcp'
table_name = 'flight_dataset'


# Define the full table name in the format dataset_id.table_id
table_id = f'{dataset_id}.{table_name}'

# Upload the DataFrame to BigQuery
to_gbq(flight_data, table_id, project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<?, ?it/s]